<% include encabezado%>

<form action="/registro" method="post">
    <input name= "username" type="email" placeholder="E-mail">
    <input name= "password" type="password" placeholder="contraseña">
    <button type="submit">Entrar!!!</button>
</form>

<% include pie%>

</html>